.site-footer {
  background: #b9092a;
  color: #fff;
  padding-top: 0px;
  max-width: 100%;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  max-width: 100%;
  margin-left: 18%;
}
.footer-column { 
  flex: 1; 
  min-width: 150px;}
.footer-column h4 { text-transform: uppercase; margin-bottom: 12px; }
.footer-link {
  display: block;
  background: transparent;
  color: #fff;
  border: none;
  padding: 6px 0;
  text-align: left;
  cursor: pointer;
}
.footer-link:hover { opacity: 0.95; }
.footer-bottom { background: #9b0b23; padding: 5px 0; margin-top: 10px; }
.copyright { text-align: center; font-weight: 700; }

@media (max-width: 900px) {
  .footer-top { flex-direction: column; }
}
